.sticky-bar {
    background: #52105b;
    background: linear-gradient(90deg, #52105b 0, #914099);
    bottom: 0;
    box-shadow: 0 -10px 10px -10px rgba(38, 38, 38, .3);
    color: #fff;
    left: 0;
    padding: 1rem 0;
    position: fixed;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    width: 100%;
    z-index: 99998
}

.sticky-bar--active {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

@media (min-width:71.875rem) {
    .sticky-bar--nosticky {
        display: none
    }
}

.sticky-bar>.container {
    -ms-flex-align: center;
    -ms-flex-pack: justify;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    max-width: 88.75rem
}

.sticky-bar__greeting {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.25;
    margin: 0
}

.sticky-bar__menu {
    font-size: 1rem
}

.sticky-bar__link {
    color: #fff;
    display: inline-block
}

.sticky-bar__link:focus,
.sticky-bar__link:hover {
    color: #fff
}

.sticky-bar__link__desktop {
    background-color: #55a646;
    border: 2px solid #55a646;
    border-radius: 3rem;
    box-shadow: 0 4px 7px 1px rgba(38, 38, 38, .1);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    margin-right: 1rem;
    padding: calc(1.5625rem - .5em - 1px) 1.5rem;
    text-align: center;
    text-transform: lowercase;
    transition: background-color .15s ease-in-out;
    white-space: nowrap;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

@media (max-width:88.75rem) {
    .sticky-bar__link__desktop {
        font-size: .875rem
    }
}

@media (max-width:68.75rem) {
    .sticky-bar__link__desktop {
        font-size: .875rem
    }
}

@media (max-width:60rem) {
    .sticky-bar__link__desktop {
        font-size: .875rem
    }
}

@media (max-width:32rem) {
    .sticky-bar__link__desktop {
        font-size: .875rem
    }
}

@media (max-width:25rem) {
    .sticky-bar__link__desktop {
        font-size: .875rem
    }
}

.sticky-bar__link__desktop:focus:not([disabled]),
.sticky-bar__link__desktop:hover:not([disabled]) {
    background-color: #368727;
    border-color: #368727;
    color: #fff;
    text-decoration: none
}

.sticky-bar__link__desktop:disabled {
    background-color: #8e8e8c;
    border-color: #8e8e8c;
    color: #fff;
    cursor: not-allowed
}

.sticky-bar__link:last-child .sticky-bar__link__desktop {
    margin-right: 0
}

.sticky-bar__link__mobile {
    display: none
}

.sticky-bar__link__mobile svg {
    display: inline-block;
    height: 1em;
    margin-right: .25rem;
    vertical-align: middle
}

.sticky-bar__link__mobile span {
    text-transform: lowercase;
    vertical-align: middle
}

.sticky-bar__single__greeting {
    color: #fff;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.25;
    margin: 0
}

.sticky-bar__single__menu {
    font-size: 1rem;
    text-align: center
}

.sticky-bar__single__link__desktop {
    background-color: #55a646;
    border: 2px solid #55a646;
    border-radius: 3rem;
    box-shadow: 0 4px 7px 1px rgba(38, 38, 38, .1);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    padding: calc(1.5625rem - .5em - 1px) 1.5rem;
    text-align: center;
    text-transform: lowercase;
    transition: background-color .15s ease-in-out;
    white-space: nowrap;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

@media (max-width:88.75rem) {
    .sticky-bar__single__link__desktop {
        font-size: .875rem
    }
}

@media (max-width:68.75rem) {
    .sticky-bar__single__link__desktop {
        font-size: .875rem
    }
}

@media (max-width:60rem) {
    .sticky-bar__single__link__desktop {
        font-size: .875rem
    }
}

@media (max-width:32rem) {
    .sticky-bar__single__link__desktop {
        font-size: .875rem
    }
}

@media (max-width:25rem) {
    .sticky-bar__single__link__desktop {
        font-size: .875rem
    }
}

.sticky-bar__single__link__desktop:focus:not([disabled]),
.sticky-bar__single__link__desktop:hover:not([disabled]) {
    background-color: #368727;
    border-color: #368727;
    color: #fff;
    text-decoration: none
}

.sticky-bar__single__link__desktop:disabled {
    background-color: #8e8e8c;
    border-color: #8e8e8c;
    color: #fff;
    cursor: not-allowed
}

@media (max-width:88.75rem) {
    .sticky-bar__single__greeting {
        font-size: 1.5rem
    }
}

@media (max-width:55rem) {
    .sticky-bar__single__greeting__superfluous {
        display: none
    }
}

@media (max-width:40rem) {
    .sticky-bar__single__greeting {
        display: none
    }
}

@media (max-width:95rem) {
    .sticky-bar__greeting__superfluous {
        display: none
    }
}

@media (max-width:74.375rem) {
    .sticky-bar>.container {
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center
    }

    .sticky-bar__greeting {
        display: none
    }
}

@media (max-width:55.625rem) {
    .sticky-bar {
        background: #52105b;
        box-shadow: none
    }

    .sticky-bar__menu {
        -ms-flex-pack: distribute;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        width: 100%
    }

    .sticky-bar__link__desktop {
        display: none
    }

    .sticky-bar__link__mobile {
        display: inline-block
    }
}

@media (max-width:36.875rem) {
    .sticky-bar {
        padding: .625rem 0
    }

    .sticky-bar__link__mobile {
        text-align: center
    }

    .sticky-bar__link__mobile svg {
        margin: 0
    }

    .sticky-bar__link__mobile span {
        display: block;
        font-size: .75rem
    }
}

@media (max-width:22.4375rem) {
    .sticky-bar__link__mobile span {
        font-size: .625rem
    }
}

.sticky-bar {
    background: #52105b;
    background: linear-gradient(90deg, #52105b 0, #914099);
    bottom: 0;
    box-shadow: 0 -10px 10px -10px rgba(38, 38, 38, .3);
    color: #fff;
    left: 0;
    padding: 1rem 0;
    position: fixed;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    width: 100%;
    z-index: 99998
}

.sticky-bar--active {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

@media (min-width:71.875rem) {
    .sticky-bar--nosticky {
        display: none
    }
}

.sticky-bar>.container {
    -ms-flex-align: center;
    -ms-flex-pack: justify;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    max-width: 88.75rem
}

.sticky-bar__greeting {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.25;
    margin: 0
}

.sticky-bar__menu {
    font-size: 1rem
}

.sticky-bar__link {
    color: #fff;
    display: inline-block
}

.sticky-bar__link:focus,
.sticky-bar__link:hover {
    color: #fff
}

.sticky-bar__link__desktop {
    background-color: #55a646;
    border: 2px solid #55a646;
    border-radius: 3rem;
    box-shadow: 0 4px 7px 1px rgba(38, 38, 38, .1);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    margin-right: 1rem;
    padding: calc(1.5625rem - .5em - 1px) 1.5rem;
    text-align: center;
    text-transform: lowercase;
    transition: background-color .15s ease-in-out;
    white-space: nowrap;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

@media (max-width:88.75rem) {
    .sticky-bar__link__desktop {
        font-size: .875rem
    }
}

@media (max-width:68.75rem) {
    .sticky-bar__link__desktop {
        font-size: .875rem
    }
}

@media (max-width:60rem) {
    .sticky-bar__link__desktop {
        font-size: .875rem
    }
}

@media (max-width:32rem) {
    .sticky-bar__link__desktop {
        font-size: .875rem
    }
}

@media (max-width:25rem) {
    .sticky-bar__link__desktop {
        font-size: .875rem
    }
}

.sticky-bar__link__desktop:focus:not([disabled]),
.sticky-bar__link__desktop:hover:not([disabled]) {
    background-color: #368727;
    border-color: #368727;
    color: #fff;
    text-decoration: none
}

.sticky-bar__link__desktop:disabled {
    background-color: #8e8e8c;
    border-color: #8e8e8c;
    color: #fff;
    cursor: not-allowed
}

.sticky-bar__link:last-child .sticky-bar__link__desktop {
    margin-right: 0
}

.sticky-bar__link__mobile {
    display: none
}

.sticky-bar__link__mobile svg {
    display: inline-block;
    height: 1em;
    margin-right: .25rem;
    vertical-align: middle
}

.sticky-bar__link__mobile span {
    text-transform: lowercase;
    vertical-align: middle
}

.sticky-bar__single__greeting {
    color: #fff;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.25;
    margin: 0
}

.sticky-bar__single__menu {
    font-size: 1rem;
    text-align: center
}

.sticky-bar__single__link__desktop {
    background-color: #55a646;
    border: 2px solid #55a646;
    border-radius: 3rem;
    box-shadow: 0 4px 7px 1px rgba(38, 38, 38, .1);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    padding: calc(1.5625rem - .5em - 1px) 1.5rem;
    text-align: center;
    text-transform: lowercase;
    transition: background-color .15s ease-in-out;
    white-space: nowrap;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

@media (max-width:88.75rem) {
    .sticky-bar__single__link__desktop {
        font-size: .875rem
    }
}

@media (max-width:68.75rem) {
    .sticky-bar__single__link__desktop {
        font-size: .875rem
    }
}

@media (max-width:60rem) {
    .sticky-bar__single__link__desktop {
        font-size: .875rem
    }
}

@media (max-width:32rem) {
    .sticky-bar__single__link__desktop {
        font-size: .875rem
    }
}

@media (max-width:25rem) {
    .sticky-bar__single__link__desktop {
        font-size: .875rem
    }
}

.sticky-bar__single__link__desktop:focus:not([disabled]),
.sticky-bar__single__link__desktop:hover:not([disabled]) {
    background-color: #368727;
    border-color: #368727;
    color: #fff;
    text-decoration: none
}

.sticky-bar__single__link__desktop:disabled {
    background-color: #8e8e8c;
    border-color: #8e8e8c;
    color: #fff;
    cursor: not-allowed
}

@media (max-width:88.75rem) {
    .sticky-bar__single__greeting {
        font-size: 1.5rem
    }
}

@media (max-width:55rem) {
    .sticky-bar__single__greeting__superfluous {
        display: none
    }
}

@media (max-width:40rem) {
    .sticky-bar__single__greeting {
        display: none
    }
}

@media (max-width:95rem) {
    .sticky-bar__greeting__superfluous {
        display: none
    }
}

@media (max-width:74.375rem) {
    .sticky-bar>.container {
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center
    }

    .sticky-bar__greeting {
        display: none
    }
}

@media (max-width:55.625rem) {
    .sticky-bar {
        background: #52105b;
        box-shadow: none
    }

    .sticky-bar__menu {
        -ms-flex-pack: distribute;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        width: 100%
    }

    .sticky-bar__link__desktop {
        display: none
    }

    .sticky-bar__link__mobile {
        display: inline-block
    }
}

@media (max-width:36.875rem) {
    .sticky-bar {
        padding: .625rem 0
    }

    .sticky-bar__link__mobile {
        text-align: center
    }

    .sticky-bar__link__mobile svg {
        margin: 0
    }

    .sticky-bar__link__mobile span {
        display: block;
        font-size: .75rem
    }
}

@media (max-width:22.4375rem) {
    .sticky-bar__link__mobile span {
        font-size: .625rem
    }
}