body {
  margin: 0;
  display: block;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  color: #262626;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}